.faqs_content {
    text-align: left;
}

.faq_content > .title_block {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.faq_list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.faq_group_ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

.faq_group_ul li {
    border-right: 1px solid #dfdfdf;
    float: left;
    margin: 5px 10px 10px 0;
}

.faq_group_li .faq_nav_link {
    cursor: pointer;
    padding-right: 10px;
    text-transform: uppercase;
}

.faq_group_li.open .faq_nav_link,
.faq_group_li .faq_nav_link:hover {
    color: #2fb5d2;
}

.faq_tab_pane {
    display: none;
}

.faq_tab_pane.open {
    display: block;
}

.ul_question_ul.front_question_ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul_question_ul.front_question_ul > li {
    border: 1px solid #dfdfdf;
    color: #333;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
}

.faq_question_name {
    cursor: pointer;
    float: left;
    padding: 10px 30px 10px 15px;
    position: relative;
    width: 100%;
    color: #333;
    font-size: 15px;
}

.faq_question_name::before {
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    content: "";
    float: right;
    height: 10px;
    margin-right: -17px;
    margin-top: 3px;
    transform: rotate(-135deg);
    width: 10px;
}

.faq_question_name.open::before {
    margin-top: 9px;
    transform: rotate(45deg);
}

.faq_answer,
.faq_answer p {
    font-size: 14px;
}

.faq_answer.front_answer {
    border-top: 1px solid #dfdfdf;
    color: #999;
    display: none;
    float: left;
    font-style: italic;
    padding: 10px 15px;
    width: 100%;
}

.faq_answer.front_answer.open {
    display: block;
}

#product .faq_list {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.faq_on_product {
    font-size: 14px;
}

.faq_on_product .title_block {
    margin-bottom: 20px;
    text-align: left;
}

.faq_on_product .faq_list {
    margin-bottom: 0;
}

.faq_on_product .faq_question_li {
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    width: 100%;
}

.faq_on_product .faq_answer {
    border-top: 1px solid #dfdfdf;
    color: #999;
    display: none;
    font-style: italic;
    padding: 10px 15px;
}

.faq_on_product .faq_answer.open {
    display: block;
}

@media (max-width: 991px) {
    .faq_group_ul li {
        float: none;
        display: inline-block;
        margin-right: 5px;
    }
}
